<!DOCTYPE html>
<html>
<head>

     {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/anmination.css">
    <link rel="stylesheet" href="static/js/creative.js">
    <!-- 轮播图-->
    <link rel="stylesheet" type="text/css" href="static/css/htmleaf-demo.css">
    <link type="text/css" rel="stylesheet" href="static/css/posterTvGrid.css">
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
    <script type="text/javascript" src="static/js/posterTvGrid.js"></script>

    {% endblock %}

</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>


<div class="footer">
    <div class="copy">
         {% block footer %}
    &copy; Copyright 2017 by <a href="http://119.29.99.226/">高梦楠</a>.
    {% endblock %}
    </div>

</div>

</body>

</html>
{% block js%}
{% endblock %}
