{% extends "layout.html" %}
{% block title %}首页{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
 <nav id="mainNav" class="navbar navbar-default fixed">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Haorooms">
                  <span class="logo">
                      \(^o^)/~
                  </span>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-nav" style="height:0px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a  class="page-scroll" href="/">首页</a></li>
                <li><a class="page-scroll" href="/archives">优酷</a></li>
                <li><a class="page-scroll" href="/about" target="_blank">爱奇艺</a></li>
                <li><a class="page-scroll" href="/nav">腾讯</a></li>
                <!--<li><a class="page-scroll" href="http://resource.haorooms.com/" target="_blank">前端资料库</a></li>-->
                <li><a class="page-scroll" href="/tools/index">下载</a></li>
                <!--<li><a href="/page/guanggaohz">合作</a></li>-->
                <!-- <li class="tuijian"><a href="http://www.maiziedu.com/pages/yy1605/web.html?yy=haorooms" target="_blank" rel="nofollow">前端课程</a></li> --><!--加推荐tuijian -->
            </ul>
        </div>
    </div>
</nav>


  <!--轮播图部分-->
<div class="htmleaf-container">
    <div class="htmleaf-content">
        <div id="posterTvGrid" style="margin:40px auto 0 auto;"></div>
    </div>
</div>



<section id="main" class="container">
    <section class="posts block a-fadeinL">


        {% for post in posts %}

        <article id="124449" class="post block">

    <a target="_blank" href="{{post.link}}" title="{{post.title}}" class="index-img">

        <img class="lazy"  data-original={{post.cover}} alt="{{post.title}}">
        <span class="video-time">
                        </span>

    </a>

    <div class="index-text">
        <!--<h3>-->
            <a target="_blank" href="{{post.link}}" title="{{post.title}}" _hover-ignore="1">{{post.title}}</a>
        <!--</h3>-->
         <div class="index-bottom">

                <h5>{{post.source}}</h5>

            </div>
    </div>



</article>
        {% endfor %}

    </section>

    <div></div>
    <div class="sidebar">
        <div class="block a-fadeinR">
            <div class="widget about">
                <strong class="wt">周榜</strong>
                <div class="wc">
                    haorooms博客，是Aaron个人技术博客，主要记录和总结前端工作中常用的知识及我的生活。
                    订阅博客文章，请关注下方微信号，后期会通过订阅号将文章发送到您的手机上。
                    本博客所有内容若需转载请联系我。

                </div>
            </div>
            <div></div>
        </div>
          <div class="block a-fadeinR">
            <div class="widget about">
                <strong class="wt">周榜</strong>
                <div class="wc">
                    haorooms博客，是Aaron个人技术博客，主要记录和总结前端工作中常用的知识及我的生活。
                    订阅博客文章，请关注下方微信号，后期会通过订阅号将文章发送到您的手机上。
                    本博客所有内容若需转载请联系我。

                </div>
            </div>
            <div></div>
        </div>
        <div class="block a-fadeinR">
            <div class="widget about">
                <strong class="wt">周榜</strong>
                <div class="wc">
                    haorooms博客，是Aaron个人技术博客，主要记录和总结前端工作中常用的知识及我的生活。
                    订阅博客文章，请关注下方微信号，后期会通过订阅号将文章发送到您的手机上。
                    本博客所有内容若需转载请联系我。

                </div>
            </div>
            <div></div>
        </div>
        <div class="block a-fadeinR">
            <div class="widget about">
                <strong class="wt">周榜</strong>
                <div class="wc">
                    haorooms博客，是Aaron个人技术博客，主要记录和总结前端工作中常用的知识及我的生活。
                    订阅博客文章，请关注下方微信号，后期会通过订阅号将文章发送到您的手机上。
                    本博客所有内容若需转载请联系我。

                </div>
            </div>
            <div></div>
        </div>

    </div>
</section>
{% endblock %}
{% block footer %}
    {{super()}}
{% endblock %}

<script type="text/javascript">
        var variable = {{data|tojson}};
        var posterTvGrid = new posterTvGrid('posterTvGrid',{className: "posterTvGrid"},variable);
        $("img.lazy").lazyload({effect: "fadeIn"});

</script>